{% extends 'layout.html' %}
{% block body_content %}
<!DOCTYPE html>
    <html>
        <head>
            <title>
                Fortune Generator
            </title>
        </head>
        <body>
            <article class="media content-section">
                <div>
                 <h2>Your fortune is:</h2>   
                 <h3>{{ sentence }}</h3>
                </div>
            </article>
            <p>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" onclick="window.location.reload();">Generate Fortune</a>
            </p>
            <img src={{ url_for('static', filename='fortune-teller-illustration-vector.jpg') }} alt='fortune teller'width='810' height='540'/>
        </body>
    </html>    
{% endblock %}